.door-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
    max-width: 600px;

    // .door-card:not(:last-child) {
    //     margin-right: 0;
    // }

    // .door-card{
    //     &.main-lock-button {
    //         cursor: pointer;
    //         width: 100%;
    //         &:hover {
    //             transform: translateY(-3px);
    //             box-shadow: 0 4px 17px rgba(black, 0.35);
    //         }
    //     }
    // }
    

}