<mb-modal id="connectModal"
               class="connectModal"
               [(showModal)]="showModal"
               [hasConfirmButton]="false"
               [hasCloseButton]="false"
               [hideHeader]="true"
               [hideHeaderClose]="true">
    <div class="connect-modal">
            <div class="connect-container" *ngIf="!showConnected">
                AAAA
            </div>
            <div class="connected-container" *ngIf="showConnected">
                BBBB
            </div>
    </div>
</mb-modal>