<!-- <div class="modal-backdrop fade show" *ngIf="!showPageContent" [ngStyle]="{'display':display}"></div> -->
<div [id]="id" [ngClass]="['modal fade show', cssClass]" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog modal-dialog-scrollable" role="document" [style.max-width.px]="width">
            <!--Model Content-->
            <div class="modal-content">
                <div class="modal-header" *ngIf="!hideHeader">
                    <h5 class="modal-title" *ngIf="modalTitle != undefined && modalTitle.length > 0" [innerText]="modalTitle"></h5>
                    <button type="button" *ngIf="!hideHeaderClose" class="close" aria-label="Close" (click)="onCloseHandled()">
                        <i class="icon blue-close-icon"></i>
                    </button>
                </div>
                <div class="modal-body" [ngStyle]="style">
                    <ng-content #main></ng-content>
                </div>
                <div class="modal-footer" *ngIf="hasConfirmButton || hasCancelButton || hasCloseButton">
                </div>
            </div>
        </div>
    </div>