.connect-container {
    text-align: center;
    padding: 20px 50px;
    .app-icon-container {

    }

    .content-container {
        .content-text {
            max-width: 350px;
            margin-bottom: 20px;
        }
        button {
            width: 100%;
            margin-bottom: 5px;
            margin-top: 5px;
            font-size: 14px;
        }
    }

}